{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Edit Brand{% endblock %}

{% block content %}
{%  include "header.html" %}
<div class="wrapper">
{% include "navigation.html" %}
<h1 class="text-center my-5">Update A Brand</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{render_form(form)}}
            <a class="btn btn-secondary" href="{{url_for('display_brands')}}" style="margin-top:-67px; margin-left: 260px;">Cancel</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
{% include "footer.html" %}
{% endblock %}