{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% include "header.html" %}
<div class="wrapper">
    {% include "navigation2.html" %}
    <div class="container">
        {% with messages= get_flashed_messages() %}
         {% if messages: %}
            {% for message in messages: %}
                <p class="alert alert-success" role="alert" style="margin-top: 10px;">{{message}}</p>
            {% endfor %}
         {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        {% if products|length == 0 %}
        <h3 class="text-center mt-2">No products available.</h3>
        {% else %}
        <div class="row">
            {% for product in products.items: %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static',filename='images/products/'+ product.image_1)}}" alt="{{product.name}}" height="200" class="card-img-top">
                    {% if product.discount > 1 %}
                    <h4 style="transform: rotate(-15deg); color: red; text-shadow: 1px 1px 2px #000; position: absolute; top: 20%; left: 15%;">{{product.discount}}% DISCOUNT</h4>
                    {% endif %}
                    <div class="card-body">
                        <h5>{{product.name}}</h5>
                        <p class="text-center">${{product.price}}</p>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="btn btn-warning btn-sm float-left"><a href="{{url_for('product_details',id=product.id)}}">Details</a></div>
                        {% set colors = product.colors.split(',') %}
                        <form action="{{url_for('add2cart')}}" method="post">
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <input type="hidden" name="quantity" style="width:50px;" value="1">
                            <select name="color" style="visibility: hidden;">
                                {% set colors = product.colors.split(',') %}
                                {% for color in colors: %}
                                <option value="{{color}}">{{color.title()}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm float-right" style="margin-left: 10px;margin-top: -60px;">Add To Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row text-center mt-3">
            <div class="col">
                {% if products.total > 8 %}
                    {% if products.has_prev %}
                    <a href="{{url_for('home',page=products.prev_num)}}" class="btn btn-outline-info btn-sm">Previous</a>
                    {% endif %}

                        {% for page_num in products.iter_pages(left_edge=1,right_edge=2,left_current=1,right_current=2): %}
                            {% if page_num: %}
                                {% if products.page==page_num %}
                                    <a href="{{url_for('home',page=page_num)}}" class="btn btn-info btn-sm">{{page_num}}</a>
                                {% else %}
                                    <a href="{{url_for('home',page=page_num)}}" class="btn btn-outline-info btn-sm">{{page_num}}</a>
                                {% endif %}
                            {% else %}
                                ....
                            {% endif %}
                        {% endfor %}

                    {% if products.has_next %}
                    <a href="{{url_for('home',page=products.next_num)}}" class="btn btn-outline-info btn-sm">Next</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}