{% extends "base.html" %}
{% block title %}Registration{% endblock %}

{%  block content %}
{% include "header.html" %}
<div class="wrapper">
<div class="text-center my-5"><h1>Register</h1></div>
<div class="container">
    {% with messages= get_flashed_messages() %}
     {% if messages: %}
        {% for message in messages: %}
            <p class="alert alert-danger" role="alert">{{message}}</p>
        {% endfor %}
     {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <form action="{{url_for('register')}}" method="post" enctype="multipart/form-data">
            <label>First Name:</label> <input type="text" name="fname" required>
            <label>Last Name:</label> <input type="text" name="lname" required><br>
            <label>Username:</label> <input type="text" name="username" required>
            <label>Email:</label> <input type="email" name="email" required><br>
            <label>Password:</label> <input type="password" name="password" minlength="8" required>
            <label>Retype Password:</label> <input type="password" name="retype_pword" minlength="8" required><br>
            <label style="margin-right: 5px;">Address:</label><textarea name="address" cols="31" rows="3" style="margin-right:10px; resize:none;" required></textarea>
            <label>State:</label><input type="text" name="state"><br>
            <label style="margin-right:5px;">Country:</label><input type="text" name="country" required>
            <label style="margin-right:2px;">Zip Code:</label><input type="number" name="zipcode" maxlength="4" required><br>
            <label style="margin-right:-3px;">Upload Photo:</label> <input type="file" name="photo" required><br>
            <button type="submit" class="btn btn-info mt-3">Sign Up</button>
        </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</div>
{% include "footer.html" %}
{% endblock %}